services:
  nexus:
    image: sonatype/nexus3:latest
    container_name: nexus
    tty: true
    restart: always
    networks:
      - default
      - intranet
    ports:
      - 8081:8081
    extra_hosts:
      - host.docker.internal:host-gateway

  ubuntu:
    image: blueriver97/ubuntu:24.04
    container_name: ubuntu
    entrypoint: /bin/bash
    privileged: true
    tty: true
    networks:
      - intranet

  amazonlinux:
    image: blueriver97/amazonlinux:2023
    container_name: amazonlinux
    entrypoint: /bin/bash
    privileged: true
    tty: true
    networks:
      - intranet

  rockylinux:
    image: blueriver97/rockylinux:9
    container_name: rockylinux
    entrypoint: /bin/bash
    privileged: true
    tty: true
    networks:
      - intranet

networks:
  default:
    driver: bridge
    name: service-network

  intranet:
    driver: bridge
    name: intranet-network
    internal: true
