services:
  rockylinux:
    build:
      dockerfile: base/rockylinux/Dockerfile
      context: ../../
      platforms:
        - linux/amd64
        - linux/arm64/v8
    image: blueriver97/rockylinux:9
    container_name: rockylinux
    stdin_open: true
    tty: true
    restart: always
    networks:
      - default
    extra_hosts:
      - host.docker.internal:host-gateway

networks:
  default:
    driver: bridge
    name: service-network
