services:
  python:
    build:
      dockerfile: runtime/python/Dockerfile
      context: ../../
      args:
        PYTHON_VERSION: $PYTHON_VERSION
        SHORT_VERSION: $SHORT_VERSION
      platforms:
        - linux/amd64
        - linux/arm64/v8
    image: blueriver97/python:$SHORT_VERSION
    container_name: python$SHORT_VERSION
    stdin_open: true
    tty: true
    restart: always
    networks:
      - default
    extra_hosts:
      - host.docker.internal:host-gateway

networks:
  default:
    driver: bridge
    name: service-network
