services:
  gitlab:
    image: gitlab/gitlab-ce:18.6.2-ce.0
    container_name: gitlab
    restart: always
    environment:
      TZ: Asia/Seoul
      GITLAB_ROOT_PASSWORD: ${GITLAB_ROOT_PASSWORD}

      # Gitlab에서 Runner Page 접근 시 localhost로 되어있어야 올바르게 연결.
      # Gitlab-Runner 컨테이너에 등록 명령어 입력 시, localhost → gitlab으로 수정 필요.
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://localhost:8888'
        alertmanager['flags'] = { 'cluster.listen-address' => '' }
    networks:
      - default
    ports:
      - 8888:8888
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - gitlab-config:/etc/gitlab
      - gitlab-data:/var/opt/gitlab

networks:
  default:
    driver: bridge
    name: service-network

volumes:
  gitlab-config:
  gitlab-data:
