services:
  mysql:
    image: mysql:$MYSQL_VERSION
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - default
    ports:
      - 3306:3306
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - ./my$MYSQL_VERSION.cnf:/etc/my.cnf
      - mysql-config:/etc/mysql
      - mysql-data:/var/lib/mysql

networks:
  default:
    driver: bridge
    name: service-network

volumes:
  mysql-config:
  mysql-data:
#    driver: local
#    driver_opts:
#      type: none
#      o: bind
#      device: /data/volumes/mysql/config
