services:
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    networks:
      - default
    ports:
      - 6379:6379
    extra_hosts:
      - host.docker.internal:host-gateway
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - redis-data:/data

networks:
  default:
    driver: bridge
    name: service-network

volumes:
  redis-data:
#    driver: local
#    driver_opts:
#      type: none
#      o: bind
#      device: /data/redis
