services:
  # 1. MinIO 서버 (S3 호환 스토리지)
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio-server
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      # MINIO_STS_SECURE: "true"
      # 설정 시 도메인으로만 접속 가능함. IP로 접속 불가
      # MINIO_BROWSER_REDIRECT_URL: ${MINIO_BROWSER_REDIRECT_URL}
    restart: always
    command: server /data --console-address ":9001"
    networks:
      - default
    ports:
      - ${MINIO_API_PORT}:9000 # API 포트 (코드에서 접속)
      - ${MINIO_CONSOLE_PORT}:9001 # Web Console 포트 (브라우저 접속)
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    volumes:
      - minio_data:/data

  minio-mc:
    image: minio/mc
    container_name: minio-mc
    depends_on:
      minio:
        condition: service_healthy
    tty: true
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_DEFAULT_BUCKETS: ${MINIO_DEFAULT_BUCKETS}
      MINIO_ALIAS: ${MINIO_ALIAS}
    entrypoint:
      - /bin/sh
      - -c
      - |
        # 1. MinIO 연결 설정 (alias set)
        until mc alias set $${MINIO_ALIAS} http://minio:9000 $${MINIO_ROOT_USER} $${MINIO_ROOT_PASSWORD}; do
          echo 'Waiting for MinIO...'
          sleep 1
        done

        # 2. 버킷 생성 루프
        # Docker Compose 변수 치환을 피하기 위해 $$를 사용합니다.
        if [ -z "$${MINIO_DEFAULT_BUCKETS}" ]; then
          echo "No buckets to create."
        else
          for BUCKET in $(echo $${MINIO_DEFAULT_BUCKETS} | tr ',' ' '); do
            /usr/bin/mc mb $${MINIO_ALIAS}/$${BUCKET} --ignore-existing
            echo "Bucket $${BUCKET} created (or already exists)."
          done
        fi

        echo 'MinIO init complete.'
        # tail -f /dev/null
    networks:
      - default

networks:
  default:
    driver: bridge
    name: service-network

volumes:
  minio_data:
